<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>ALL MY CHATS</h1>
    <form method="get" action="/chats/new">
        <button>New Chat</button>
    </form> 
    <% for(let chat of chats) { %>
    <div class="chatform">
        <p>From : <%= chat.from %> </p>
        <div class="msg">
            <p>Message : <%= chat.msg %> </p>
        </div>
        <p>To : <%= chat.to %> </p>
        <p>Time : <%= chat.created_at.toString().slice(16,25)  %></p>
        <p>Date : <%= chat.created_at.toString().slice(0,15)  %></p>
        <div class="buttons">
            <form method="GET" action="/chats/<%= chat.id %>/edit">
                <button class="btn">Edit Msg</button>
            </form>
            <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                <button class="btn">Delete this Chat</button>
            </form>
        </div>
    </div>
    <hr>
    <% } %>
</body>
</html>